.spinner {
    z-index: 100;
    left: 200px;
    top: 100px;
    position: relative;
}
.date-picker-conatiner {
    width: 120px !important;
}

.guest-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    margin-right: 15px;
    border-radius: 50%;
    cursor:pointer;
}
.guest-btn:focus
{
    background:olive;
}
.small-btn{
    background: #ff9900;
    font-size: 12px;
    border: 1px solid #ff9900;
}
.search-result-form-container {
    border-left: 1px solid #ff9900;
    border-right: 1px solid #ff9900;
    border-bottom: 1px solid #ff9900;
}