<div class="row">
  <div class="col-12">
    <h4 class="hotel-dt-header">180 hotels in Las Vegas, NV, USA on April 22nd -April 24th for 1 adult(s)</h4>
  </div>
</div>
<div class="row hotel-details-container" *ngFor="let hotel of hotels">
  <div class="col-4">
    <img src="{{hotel.images[0].url}}" alt="Smiley face" height="100"
      width="200">
  </div>
  <div class="col-4">
    <span class="hotel-name">{{hotel.name}}}</span>
    <span class="hotel-address">{{hotel.id}} {{hotel.contact.address.name}} </span>
  </div>
  <div class="col-4">
    <div class="rate-container">
      <span class="rate-from">from</span>
      <span class="rate-per">{{hotel.fare.currency}} {{hotel.fare.baseFare}}</span><span class="rate-durationg">/night</span>
      <span class="rate-total">total: {{hotel.fare.currency}} {{hotel.fare.totalFare}} </span>
      <button type="button" class="btn btn-primary small-btn">Show Room</button>
    </div>
  </div>
</div>

